# Temperature Population Sea Level and Emissions
### Notebook to combine .csv datasets into one sqlite database for Project 2

In [30]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# File to Load  
temperature_data_to_load = "data/temp_data.csv"
population_data_to_load = "data/population_data.csv"
sealevel_data_to_load = "data/sealevel_data.csv"
co2_data_to_load = "data/CO2_data.csv"

# Read Data  
temperature_data = pd.read_csv(temperature_data_to_load)
population_data = pd.read_csv(population_data_to_load)
sealevel_data = pd.read_csv(sealevel_data_to_load)
co2_data = pd.read_csv(co2_data_to_load)

In [31]:
temperature_data.head(5)

   Year  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty
0  1993                       15.466417                                   0.059167
1  1994                       15.535000                                   0.058583
2  1995                       15.637833                                   0.060417
3  1996                       15.524667                                   0.059500
4  1997                       15.713833                                   0.059167

In [32]:
population_data.head(5)

   Unnamed: 0  year  population_millions
0           0  1993          5581597.598
1           1  1994          5663150.428
2           2  1995          5744212.930
3           3  1996          5824891.931
4           4  1997          5905045.647

In [33]:
sealevel_data.head(5)

   Year       GMSL
0  1993  90.471622
1  1994  89.516216
2  1995  87.334722
3  1996  85.473243
4  1997  99.442432

In [34]:
co2_data.head(5)

   Year  CO2_emissions_tons_per_capita
0  1993                     869.636645
1  1994                     863.100924
2  1995                     858.225479
3  1996                     859.062572
4  1997                     867.379574

In [35]:
import matplotlib.pyplot as plt
from glob import glob

In [36]:
climate_files = sorted(glob('data/*_data.csv'))

In [37]:
climate_files

['data\\CO2_data.csv',
 'data\\population_data.csv',
 'data\\sealevel_data.csv',
 'data\\temp_data.csv']

In [38]:
climate_combined = pd.concat((pd.read_csv(file).assign(filename = file)
          for file in climate_files), sort= True, ignore_index = True)

In [39]:
climate_combined

    CO2_emissions_tons_per_capita        GMSL  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty  Unnamed: 0    Year                  filename  population_millions    year
0                      869.636645         NaN                             NaN                                        NaN         NaN  1993.0         data\CO2_data.csv                  NaN     NaN
1                      863.100924         NaN                             NaN                                        NaN         NaN  1994.0         data\CO2_data.csv                  NaN     NaN
2                      858.225479         NaN                             NaN                                        NaN         NaN  1995.0         data\CO2_data.csv                  NaN     NaN
3                      859.062572         NaN                             NaN                                        NaN         NaN  1996.0         data\CO2_data.csv                  NaN     NaN
4                      867.379574         NaN                             NaN                                        NaN         NaN  1997.0         data\CO2_data.csv                  NaN     NaN
5                      866.162913         NaN                             NaN                                        NaN         NaN  1998.0         data\CO2_data.csv                  NaN     NaN
6                      854.147358         NaN                             NaN                                        NaN         NaN  1999.0         data\CO2_data.csv                  NaN     NaN
7                      878.764146         NaN                             NaN                                        NaN         NaN  2000.0         data\CO2_data.csv                  NaN     NaN
8                      888.096012         NaN                             NaN                                        NaN         NaN  2001.0         data\CO2_data.csv                  NaN     NaN
9                      884.272209         NaN                             NaN                                        NaN         NaN  2002.0         data\CO2_data.csv                  NaN     NaN
10                     907.525692         NaN                             NaN                                        NaN         NaN  2003.0         data\CO2_data.csv                  NaN     NaN
11                     915.658632         NaN                             NaN                                        NaN         NaN  2004.0         data\CO2_data.csv                  NaN     NaN
12                     921.000446         NaN                             NaN                                        NaN         NaN  2005.0         data\CO2_data.csv                  NaN     NaN
13                     933.068635         NaN                             NaN                                        NaN         NaN  2006.0         data\CO2_data.csv                  NaN     NaN
14                     944.312222         NaN                             NaN                                        NaN         NaN  2007.0         data\CO2_data.csv                  NaN     NaN
15                     943.559582         NaN                             NaN                                        NaN         NaN  2008.0         data\CO2_data.csv                  NaN     NaN
16                     898.608885         NaN                             NaN                                        NaN         NaN  2009.0         data\CO2_data.csv                  NaN     NaN
17                     916.898995         NaN                             NaN                                        NaN         NaN  2010.0         data\CO2_data.csv                  NaN     NaN
18                     907.572218         NaN                             NaN                                        NaN         NaN  2011.0         data\CO2_data.csv                  NaN     NaN
19                     907.679408         NaN                             NaN                                        NaN         NaN  2012.0         data\CO2_data.csv                  NaN     NaN
20                     893.012832         NaN                             NaN                                        NaN         NaN  2013.0         data\CO2_data.csv                  NaN     NaN
21                     890.230156         NaN                             NaN                                        NaN         NaN  2014.0         data\CO2_data.csv                  NaN     NaN
22                     901.399532         NaN                             NaN                                        NaN         NaN  2015.0         data\CO2_data.csv                  NaN     NaN
23                            NaN         NaN                             NaN                                        NaN         0.0     NaN  data\population_data.csv          5581597.598  1993.0
24                            NaN         NaN                             NaN                                        NaN         1.0     NaN  data\population_data.csv          5663150.428  1994.0
25                            NaN         NaN                             NaN                                        NaN         2.0     NaN  data\population_data.csv          5744212.930  1995.0
26                            NaN         NaN                             NaN                                        NaN         3.0     NaN  data\population_data.csv          5824891.931  1996.0
27                            NaN         NaN                             NaN                                        NaN         4.0     NaN  data\population_data.csv          5905045.647  1997.0
28                            NaN         NaN                             NaN                                        NaN         5.0     NaN  data\population_data.csv          5984794.075  1998.0
29                            NaN         NaN                             NaN                                        NaN         6.0     NaN  data\population_data.csv          6064239.033  1999.0
30                            NaN         NaN                             NaN                                        NaN         7.0     NaN  data\population_data.csv          6143493.806  2000.0
31                            NaN         NaN                             NaN                                        NaN         8.0     NaN  data\population_data.csv          6222626.531  2001.0
32                            NaN         NaN                             NaN                                        NaN         9.0     NaN  data\population_data.csv          6301773.172  2002.0
33                            NaN         NaN                             NaN                                        NaN        10.0     NaN  data\population_data.csv          6381185.141  2003.0
34                            NaN         NaN                             NaN                                        NaN        11.0     NaN  data\population_data.csv          6461159.391  2004.0
35                            NaN         NaN                             NaN                                        NaN        12.0     NaN  data\population_data.csv          6541906.956  2005.0
36                            NaN         NaN                             NaN                                        NaN        13.0     NaN  data\population_data.csv          6623517.917  2006.0
37                            NaN         NaN                             NaN                                        NaN        14.0     NaN  data\population_data.csv          6705946.643  2007.0
38                            NaN         NaN                             NaN                                        NaN        15.0     NaN  data\population_data.csv          6789088.672  2008.0
39                            NaN         NaN                             NaN                                        NaN        16.0     NaN  data\population_data.csv          6872766.988  2009.0
40                            NaN         NaN                             NaN                                        NaN        17.0     NaN  data\population_data.csv          6956823.588  2010.0
41                            NaN         NaN                             NaN                                        NaN        18.0     NaN  data\population_data.csv          7041194.168  2011.0
42                            NaN         NaN                             NaN                                        NaN        19.0     NaN  data\population_data.csv          7125827.957  2012.0
43                            NaN         NaN                             NaN                                        NaN        20.0     NaN  data\population_data.csv          7210582.041  2013.0
44                            NaN         NaN                             NaN                                        NaN        21.0     NaN  data\population_data.csv          7295290.759  2014.0
45                            NaN         NaN                             NaN                                        NaN        22.0     NaN  data\population_data.csv          7379796.967  2015.0
46                            NaN   90.471622                             NaN                                        NaN         NaN  1993.0    data\sealevel_data.csv                  NaN     NaN
47                            NaN   89.516216                             NaN                                        NaN         NaN  1994.0    data\sealevel_data.csv                  NaN     NaN
48                            NaN   87.334722                             NaN                                        NaN         NaN  1995.0    data\sealevel_data.csv                  NaN     NaN
49                            NaN   85.473243                             NaN                                        NaN         NaN  1996.0    data\sealevel_data.csv                  NaN     NaN
50                            NaN   99.442432                             NaN                                        NaN         NaN  1997.0    data\sealevel_data.csv                  NaN     NaN
51                            NaN   96.977297                             NaN                                        NaN         NaN  1998.0    data\sealevel_data.csv                  NaN     NaN
52                            NaN   87.769459                             NaN                                        NaN         NaN  1999.0    data\sealevel_data.csv                  NaN     NaN
53                            NaN   86.657297                             NaN                                        NaN         NaN  2000.0    data\sealevel_data.csv                  NaN     NaN
54                            NaN   84.688378                             NaN                                        NaN         NaN  2001.0    data\sealevel_data.csv                  NaN     NaN
55                            NaN   85.895278                             NaN                                        NaN         NaN  2002.0    data\sealevel_data.csv                  NaN     NaN
56                            NaN   87.178919                             NaN                                        NaN         NaN  2003.0    data\sealevel_data.csv                  NaN     NaN
57                            NaN   86.263784                             NaN                                        NaN         NaN  2004.0    data\sealevel_data.csv                  NaN     NaN
58                            NaN   85.427838                             NaN                                        NaN         NaN  2005.0    data\sealevel_data.csv                  NaN     NaN
59                            NaN   86.161389                             NaN                                        NaN         NaN  2006.0    data\sealevel_data.csv                  NaN     NaN
60                            NaN   85.265946                             NaN                                        NaN         NaN  2007.0    data\sealevel_data.csv                  NaN     NaN
61                            NaN   86.838889                             NaN                                        NaN         NaN  2008.0    data\sealevel_data.csv                  NaN     NaN
62                            NaN   85.634054                             NaN                                        NaN         NaN  2009.0    data\sealevel_data.csv                  NaN     NaN
63                            NaN   87.830811                             NaN                                        NaN         NaN  2010.0    data\sealevel_data.csv                  NaN     NaN
64                            NaN   89.016757                             NaN                                        NaN         NaN  2011.0    data\sealevel_data.csv                  NaN     NaN
65                            NaN   87.514324                             NaN                                        NaN         NaN  2012.0    data\sealevel_data.csv                  NaN     NaN
66                            NaN   87.777297                             NaN                                        NaN         NaN  2013.0    data\sealevel_data.csv                  NaN     NaN
67                            NaN   88.426667                             NaN                                        NaN         NaN  2014.0    data\sealevel_data.csv                  NaN     NaN
68                            NaN  100.599189                             NaN                                        NaN         NaN  2015.0    data\sealevel_data.csv                  NaN     NaN
69                            NaN         NaN                       15.466417                                   0.059167         NaN  1993.0        data\temp_data.csv                  NaN     NaN
70                            NaN         NaN                       15.535000                                   0.058583         NaN  1994.0        data\temp_data.csv                  NaN     NaN
71                            NaN         NaN                       15.637833                                   0.060417         NaN  1995.0        data\temp_data.csv                  NaN     NaN
72                            NaN         NaN                       15.524667                                   0.059500         NaN  1996.0        data\temp_data.csv                  NaN     NaN
73                            NaN         NaN                       15.713833                                   0.059167         NaN  1997.0        data\temp_data.csv                  NaN     NaN
74                            NaN         NaN                       15.826000                                   0.063000         NaN  1998.0        data\temp_data.csv                  NaN     NaN
75                            NaN         NaN                       15.600333                                   0.063333         NaN  1999.0        data\temp_data.csv                  NaN     NaN
76                            NaN         NaN                       15.610667                                   0.063500         NaN  2000.0        data\temp_data.csv                  NaN     NaN
77                            NaN         NaN                       15.767500                                   0.064583         NaN  2001.0        data\temp_data.csv                  NaN     NaN
78                            NaN         NaN                       15.829167                                   0.062917         NaN  2002.0        data\temp_data.csv                  NaN     NaN
79                            NaN         NaN                       15.826583                                   0.064333         NaN  2003.0        data\temp_data.csv                  NaN     NaN
80                            NaN         NaN                       15.757250                                   0.061250         NaN  2004.0        data\temp_data.csv                  NaN     NaN
81                            NaN         NaN                       15.879250                                   0.060833         NaN  2005.0        data\temp_data.csv                  NaN     NaN
82                            NaN         NaN                       15.813500                                   0.061000         NaN  2006.0        data\temp_data.csv                  NaN     NaN
83                            NaN         NaN                       15.827333                                   0.059083         NaN  2007.0        data\temp_data.csv                  NaN     NaN
84                            NaN         NaN                       15.721250                                   0.057250         NaN  2008.0        data\temp_data.csv                  NaN     NaN
85                            NaN         NaN                       15.827167                                   0.058917         NaN  2009.0        data\temp_data.csv                  NaN     NaN
86                            NaN         NaN                       15.895500                                   0.058583         NaN  2010.0        data\temp_data.csv                  NaN     NaN
87                            NaN         NaN                       15.769500                                   0.059000         NaN  2011.0        data\temp_data.csv                  NaN     NaN
88                            NaN         NaN                       15.802333                                   0.061500         NaN  2012.0        data\temp_data.csv                  NaN     NaN
89                            NaN         NaN                       15.854417                                   0.064667         NaN  2013.0        data\temp_data.csv                  NaN     NaN
90                            NaN         NaN                       15.913000                                   0.063167         NaN  2014.0        data\temp_data.csv                  NaN     NaN
91                            NaN         NaN                       16.058583                                   0.060833         NaN  2015.0        data\temp_data.csv                  NaN     NaN

In [21]:
climate_combined.columns

Index(['CO2_emissions_tons_per_capita', 'GMSL', 'LandAndOceanAverageTemperature', 'LandAndOceanAverageTemperatureUncertainty', 'Unnamed: 0', 'Year', 'filename', 'population_millions', 'year'], dtype='object')

In [29]:
climate_data = climate_combined

climate_data.rename(columns={'Year':'year',  
                              'Avg Temp':'LandAndOceanAverageTemperature',
                             'Emissions':'CO2_emissions_tons_per_capita',
                             'GMSL':'Avg GMSL',
                             'Avg Population in mil':'population_millions'} )
climate_data

    CO2_emissions_tons_per_capita        GMSL  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty  Unnamed: 0    Year                  filename  population_millions    year
0                      869.636645         NaN                             NaN                                        NaN         NaN  1993.0         data\CO2_data.csv                  NaN     NaN
1                      863.100924         NaN                             NaN                                        NaN         NaN  1994.0         data\CO2_data.csv                  NaN     NaN
2                      858.225479         NaN                             NaN                                        NaN         NaN  1995.0         data\CO2_data.csv                  NaN     NaN
3                      859.062572         NaN                             NaN                                        NaN         NaN  1996.0         data\CO2_data.csv                  NaN     NaN
4                      867.379574         NaN                             NaN                                        NaN         NaN  1997.0         data\CO2_data.csv                  NaN     NaN
5                      866.162913         NaN                             NaN                                        NaN         NaN  1998.0         data\CO2_data.csv                  NaN     NaN
6                      854.147358         NaN                             NaN                                        NaN         NaN  1999.0         data\CO2_data.csv                  NaN     NaN
7                      878.764146         NaN                             NaN                                        NaN         NaN  2000.0         data\CO2_data.csv                  NaN     NaN
8                      888.096012         NaN                             NaN                                        NaN         NaN  2001.0         data\CO2_data.csv                  NaN     NaN
9                      884.272209         NaN                             NaN                                        NaN         NaN  2002.0         data\CO2_data.csv                  NaN     NaN
10                     907.525692         NaN                             NaN                                        NaN         NaN  2003.0         data\CO2_data.csv                  NaN     NaN
11                     915.658632         NaN                             NaN                                        NaN         NaN  2004.0         data\CO2_data.csv                  NaN     NaN
12                     921.000446         NaN                             NaN                                        NaN         NaN  2005.0         data\CO2_data.csv                  NaN     NaN
13                     933.068635         NaN                             NaN                                        NaN         NaN  2006.0         data\CO2_data.csv                  NaN     NaN
14                     944.312222         NaN                             NaN                                        NaN         NaN  2007.0         data\CO2_data.csv                  NaN     NaN
15                     943.559582         NaN                             NaN                                        NaN         NaN  2008.0         data\CO2_data.csv                  NaN     NaN
16                     898.608885         NaN                             NaN                                        NaN         NaN  2009.0         data\CO2_data.csv                  NaN     NaN
17                     916.898995         NaN                             NaN                                        NaN         NaN  2010.0         data\CO2_data.csv                  NaN     NaN
18                     907.572218         NaN                             NaN                                        NaN         NaN  2011.0         data\CO2_data.csv                  NaN     NaN
19                     907.679408         NaN                             NaN                                        NaN         NaN  2012.0         data\CO2_data.csv                  NaN     NaN
20                     893.012832         NaN                             NaN                                        NaN         NaN  2013.0         data\CO2_data.csv                  NaN     NaN
21                     890.230156         NaN                             NaN                                        NaN         NaN  2014.0         data\CO2_data.csv                  NaN     NaN
22                     901.399532         NaN                             NaN                                        NaN         NaN  2015.0         data\CO2_data.csv                  NaN     NaN
23                            NaN         NaN                             NaN                                        NaN         0.0     NaN  data\population_data.csv          5581597.598  1993.0
24                            NaN         NaN                             NaN                                        NaN         1.0     NaN  data\population_data.csv          5663150.428  1994.0
25                            NaN         NaN                             NaN                                        NaN         2.0     NaN  data\population_data.csv          5744212.930  1995.0
26                            NaN         NaN                             NaN                                        NaN         3.0     NaN  data\population_data.csv          5824891.931  1996.0
27                            NaN         NaN                             NaN                                        NaN         4.0     NaN  data\population_data.csv          5905045.647  1997.0
28                            NaN         NaN                             NaN                                        NaN         5.0     NaN  data\population_data.csv          5984794.075  1998.0
29                            NaN         NaN                             NaN                                        NaN         6.0     NaN  data\population_data.csv          6064239.033  1999.0
30                            NaN         NaN                             NaN                                        NaN         7.0     NaN  data\population_data.csv          6143493.806  2000.0
31                            NaN         NaN                             NaN                                        NaN         8.0     NaN  data\population_data.csv          6222626.531  2001.0
32                            NaN         NaN                             NaN                                        NaN         9.0     NaN  data\population_data.csv          6301773.172  2002.0
33                            NaN         NaN                             NaN                                        NaN        10.0     NaN  data\population_data.csv          6381185.141  2003.0
34                            NaN         NaN                             NaN                                        NaN        11.0     NaN  data\population_data.csv          6461159.391  2004.0
35                            NaN         NaN                             NaN                                        NaN        12.0     NaN  data\population_data.csv          6541906.956  2005.0
36                            NaN         NaN                             NaN                                        NaN        13.0     NaN  data\population_data.csv          6623517.917  2006.0
37                            NaN         NaN                             NaN                                        NaN        14.0     NaN  data\population_data.csv          6705946.643  2007.0
38                            NaN         NaN                             NaN                                        NaN        15.0     NaN  data\population_data.csv          6789088.672  2008.0
39                            NaN         NaN                             NaN                                        NaN        16.0     NaN  data\population_data.csv          6872766.988  2009.0
40                            NaN         NaN                             NaN                                        NaN        17.0     NaN  data\population_data.csv          6956823.588  2010.0
41                            NaN         NaN                             NaN                                        NaN        18.0     NaN  data\population_data.csv          7041194.168  2011.0
42                            NaN         NaN                             NaN                                        NaN        19.0     NaN  data\population_data.csv          7125827.957  2012.0
43                            NaN         NaN                             NaN                                        NaN        20.0     NaN  data\population_data.csv          7210582.041  2013.0
44                            NaN         NaN                             NaN                                        NaN        21.0     NaN  data\population_data.csv          7295290.759  2014.0
45                            NaN         NaN                             NaN                                        NaN        22.0     NaN  data\population_data.csv          7379796.967  2015.0
46                            NaN   90.471622                             NaN                                        NaN         NaN  1993.0    data\sealevel_data.csv                  NaN     NaN
47                            NaN   89.516216                             NaN                                        NaN         NaN  1994.0    data\sealevel_data.csv                  NaN     NaN
48                            NaN   87.334722                             NaN                                        NaN         NaN  1995.0    data\sealevel_data.csv                  NaN     NaN
49                            NaN   85.473243                             NaN                                        NaN         NaN  1996.0    data\sealevel_data.csv                  NaN     NaN
50                            NaN   99.442432                             NaN                                        NaN         NaN  1997.0    data\sealevel_data.csv                  NaN     NaN
51                            NaN   96.977297                             NaN                                        NaN         NaN  1998.0    data\sealevel_data.csv                  NaN     NaN
52                            NaN   87.769459                             NaN                                        NaN         NaN  1999.0    data\sealevel_data.csv                  NaN     NaN
53                            NaN   86.657297                             NaN                                        NaN         NaN  2000.0    data\sealevel_data.csv                  NaN     NaN
54                            NaN   84.688378                             NaN                                        NaN         NaN  2001.0    data\sealevel_data.csv                  NaN     NaN
55                            NaN   85.895278                             NaN                                        NaN         NaN  2002.0    data\sealevel_data.csv                  NaN     NaN
56                            NaN   87.178919                             NaN                                        NaN         NaN  2003.0    data\sealevel_data.csv                  NaN     NaN
57                            NaN   86.263784                             NaN                                        NaN         NaN  2004.0    data\sealevel_data.csv                  NaN     NaN
58                            NaN   85.427838                             NaN                                        NaN         NaN  2005.0    data\sealevel_data.csv                  NaN     NaN
59                            NaN   86.161389                             NaN                                        NaN         NaN  2006.0    data\sealevel_data.csv                  NaN     NaN
60                            NaN   85.265946                             NaN                                        NaN         NaN  2007.0    data\sealevel_data.csv                  NaN     NaN
61                            NaN   86.838889                             NaN                                        NaN         NaN  2008.0    data\sealevel_data.csv                  NaN     NaN
62                            NaN   85.634054                             NaN                                        NaN         NaN  2009.0    data\sealevel_data.csv                  NaN     NaN
63                            NaN   87.830811                             NaN                                        NaN         NaN  2010.0    data\sealevel_data.csv                  NaN     NaN
64                            NaN   89.016757                             NaN                                        NaN         NaN  2011.0    data\sealevel_data.csv                  NaN     NaN
65                            NaN   87.514324                             NaN                                        NaN         NaN  2012.0    data\sealevel_data.csv                  NaN     NaN
66                            NaN   87.777297                             NaN                                        NaN         NaN  2013.0    data\sealevel_data.csv                  NaN     NaN
67                            NaN   88.426667                             NaN                                        NaN         NaN  2014.0    data\sealevel_data.csv                  NaN     NaN
68                            NaN  100.599189                             NaN                                        NaN         NaN  2015.0    data\sealevel_data.csv                  NaN     NaN
69                            NaN         NaN                       15.466417                                   0.059167         NaN  1993.0        data\temp_data.csv                  NaN     NaN
70                            NaN         NaN                       15.535000                                   0.058583         NaN  1994.0        data\temp_data.csv                  NaN     NaN
71                            NaN         NaN                       15.637833                                   0.060417         NaN  1995.0        data\temp_data.csv                  NaN     NaN
72                            NaN         NaN                       15.524667                                   0.059500         NaN  1996.0        data\temp_data.csv                  NaN     NaN
73                            NaN         NaN                       15.713833                                   0.059167         NaN  1997.0        data\temp_data.csv                  NaN     NaN
74                            NaN         NaN                       15.826000                                   0.063000         NaN  1998.0        data\temp_data.csv                  NaN     NaN
75                            NaN         NaN                       15.600333                                   0.063333         NaN  1999.0        data\temp_data.csv                  NaN     NaN
76                            NaN         NaN                       15.610667                                   0.063500         NaN  2000.0        data\temp_data.csv                  NaN     NaN
77                            NaN         NaN                       15.767500                                   0.064583         NaN  2001.0        data\temp_data.csv                  NaN     NaN
78                            NaN         NaN                       15.829167                                   0.062917         NaN  2002.0        data\temp_data.csv                  NaN     NaN
79                            NaN         NaN                       15.826583                                   0.064333         NaN  2003.0        data\temp_data.csv                  NaN     NaN
80                            NaN         NaN                       15.757250                                   0.061250         NaN  2004.0        data\temp_data.csv                  NaN     NaN
81                            NaN         NaN                       15.879250                                   0.060833         NaN  2005.0        data\temp_data.csv                  NaN     NaN
82                            NaN         NaN                       15.813500                                   0.061000         NaN  2006.0        data\temp_data.csv                  NaN     NaN
83                            NaN         NaN                       15.827333                                   0.059083         NaN  2007.0        data\temp_data.csv                  NaN     NaN
84                            NaN         NaN                       15.721250                                   0.057250         NaN  2008.0        data\temp_data.csv                  NaN     NaN
85                            NaN         NaN                       15.827167                                   0.058917         NaN  2009.0        data\temp_data.csv                  NaN     NaN
86                            NaN         NaN                       15.895500                                   0.058583         NaN  2010.0        data\temp_data.csv                  NaN     NaN
87                            NaN         NaN                       15.769500                                   0.059000         NaN  2011.0        data\temp_data.csv                  NaN     NaN
88                            NaN         NaN                       15.802333                                   0.061500         NaN  2012.0        data\temp_data.csv                  NaN     NaN
89                            NaN         NaN                       15.854417                                   0.064667         NaN  2013.0        data\temp_data.csv                  NaN     NaN
90                            NaN         NaN                       15.913000                                   0.063167         NaN  2014.0        data\temp_data.csv                  NaN     NaN
91                            NaN         NaN                       16.058583                                   0.060833         NaN  2015.0        data\temp_data.csv                  NaN     NaN

In [23]:

climate_data

    CO2_emissions_tons_per_capita        GMSL  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty  Unnamed: 0    Year                  filename  population_millions    year
0                      869.636645         NaN                             NaN                                        NaN         NaN  1993.0         data\CO2_data.csv                  NaN     NaN
1                      863.100924         NaN                             NaN                                        NaN         NaN  1994.0         data\CO2_data.csv                  NaN     NaN
2                      858.225479         NaN                             NaN                                        NaN         NaN  1995.0         data\CO2_data.csv                  NaN     NaN
3                      859.062572         NaN                             NaN                                        NaN         NaN  1996.0         data\CO2_data.csv                  NaN     NaN
4                      867.379574         NaN                             NaN                                        NaN         NaN  1997.0         data\CO2_data.csv                  NaN     NaN
5                      866.162913         NaN                             NaN                                        NaN         NaN  1998.0         data\CO2_data.csv                  NaN     NaN
6                      854.147358         NaN                             NaN                                        NaN         NaN  1999.0         data\CO2_data.csv                  NaN     NaN
7                      878.764146         NaN                             NaN                                        NaN         NaN  2000.0         data\CO2_data.csv                  NaN     NaN
8                      888.096012         NaN                             NaN                                        NaN         NaN  2001.0         data\CO2_data.csv                  NaN     NaN
9                      884.272209         NaN                             NaN                                        NaN         NaN  2002.0         data\CO2_data.csv                  NaN     NaN
10                     907.525692         NaN                             NaN                                        NaN         NaN  2003.0         data\CO2_data.csv                  NaN     NaN
11                     915.658632         NaN                             NaN                                        NaN         NaN  2004.0         data\CO2_data.csv                  NaN     NaN
12                     921.000446         NaN                             NaN                                        NaN         NaN  2005.0         data\CO2_data.csv                  NaN     NaN
13                     933.068635         NaN                             NaN                                        NaN         NaN  2006.0         data\CO2_data.csv                  NaN     NaN
14                     944.312222         NaN                             NaN                                        NaN         NaN  2007.0         data\CO2_data.csv                  NaN     NaN
15                     943.559582         NaN                             NaN                                        NaN         NaN  2008.0         data\CO2_data.csv                  NaN     NaN
16                     898.608885         NaN                             NaN                                        NaN         NaN  2009.0         data\CO2_data.csv                  NaN     NaN
17                     916.898995         NaN                             NaN                                        NaN         NaN  2010.0         data\CO2_data.csv                  NaN     NaN
18                     907.572218         NaN                             NaN                                        NaN         NaN  2011.0         data\CO2_data.csv                  NaN     NaN
19                     907.679408         NaN                             NaN                                        NaN         NaN  2012.0         data\CO2_data.csv                  NaN     NaN
20                     893.012832         NaN                             NaN                                        NaN         NaN  2013.0         data\CO2_data.csv                  NaN     NaN
21                     890.230156         NaN                             NaN                                        NaN         NaN  2014.0         data\CO2_data.csv                  NaN     NaN
22                     901.399532         NaN                             NaN                                        NaN         NaN  2015.0         data\CO2_data.csv                  NaN     NaN
23                            NaN         NaN                             NaN                                        NaN         0.0     NaN  data\population_data.csv          5581597.598  1993.0
24                            NaN         NaN                             NaN                                        NaN         1.0     NaN  data\population_data.csv          5663150.428  1994.0
25                            NaN         NaN                             NaN                                        NaN         2.0     NaN  data\population_data.csv          5744212.930  1995.0
26                            NaN         NaN                             NaN                                        NaN         3.0     NaN  data\population_data.csv          5824891.931  1996.0
27                            NaN         NaN                             NaN                                        NaN         4.0     NaN  data\population_data.csv          5905045.647  1997.0
28                            NaN         NaN                             NaN                                        NaN         5.0     NaN  data\population_data.csv          5984794.075  1998.0
29                            NaN         NaN                             NaN                                        NaN         6.0     NaN  data\population_data.csv          6064239.033  1999.0
30                            NaN         NaN                             NaN                                        NaN         7.0     NaN  data\population_data.csv          6143493.806  2000.0
31                            NaN         NaN                             NaN                                        NaN         8.0     NaN  data\population_data.csv          6222626.531  2001.0
32                            NaN         NaN                             NaN                                        NaN         9.0     NaN  data\population_data.csv          6301773.172  2002.0
33                            NaN         NaN                             NaN                                        NaN        10.0     NaN  data\population_data.csv          6381185.141  2003.0
34                            NaN         NaN                             NaN                                        NaN        11.0     NaN  data\population_data.csv          6461159.391  2004.0
35                            NaN         NaN                             NaN                                        NaN        12.0     NaN  data\population_data.csv          6541906.956  2005.0
36                            NaN         NaN                             NaN                                        NaN        13.0     NaN  data\population_data.csv          6623517.917  2006.0
37                            NaN         NaN                             NaN                                        NaN        14.0     NaN  data\population_data.csv          6705946.643  2007.0
38                            NaN         NaN                             NaN                                        NaN        15.0     NaN  data\population_data.csv          6789088.672  2008.0
39                            NaN         NaN                             NaN                                        NaN        16.0     NaN  data\population_data.csv          6872766.988  2009.0
40                            NaN         NaN                             NaN                                        NaN        17.0     NaN  data\population_data.csv          6956823.588  2010.0
41                            NaN         NaN                             NaN                                        NaN        18.0     NaN  data\population_data.csv          7041194.168  2011.0
42                            NaN         NaN                             NaN                                        NaN        19.0     NaN  data\population_data.csv          7125827.957  2012.0
43                            NaN         NaN                             NaN                                        NaN        20.0     NaN  data\population_data.csv          7210582.041  2013.0
44                            NaN         NaN                             NaN                                        NaN        21.0     NaN  data\population_data.csv          7295290.759  2014.0
45                            NaN         NaN                             NaN                                        NaN        22.0     NaN  data\population_data.csv          7379796.967  2015.0
46                            NaN   90.471622                             NaN                                        NaN         NaN  1993.0    data\sealevel_data.csv                  NaN     NaN
47                            NaN   89.516216                             NaN                                        NaN         NaN  1994.0    data\sealevel_data.csv                  NaN     NaN
48                            NaN   87.334722                             NaN                                        NaN         NaN  1995.0    data\sealevel_data.csv                  NaN     NaN
49                            NaN   85.473243                             NaN                                        NaN         NaN  1996.0    data\sealevel_data.csv                  NaN     NaN
50                            NaN   99.442432                             NaN                                        NaN         NaN  1997.0    data\sealevel_data.csv                  NaN     NaN
51                            NaN   96.977297                             NaN                                        NaN         NaN  1998.0    data\sealevel_data.csv                  NaN     NaN
52                            NaN   87.769459                             NaN                                        NaN         NaN  1999.0    data\sealevel_data.csv                  NaN     NaN
53                            NaN   86.657297                             NaN                                        NaN         NaN  2000.0    data\sealevel_data.csv                  NaN     NaN
54                            NaN   84.688378                             NaN                                        NaN         NaN  2001.0    data\sealevel_data.csv                  NaN     NaN
55                            NaN   85.895278                             NaN                                        NaN         NaN  2002.0    data\sealevel_data.csv                  NaN     NaN
56                            NaN   87.178919                             NaN                                        NaN         NaN  2003.0    data\sealevel_data.csv                  NaN     NaN
57                            NaN   86.263784                             NaN                                        NaN         NaN  2004.0    data\sealevel_data.csv                  NaN     NaN
58                            NaN   85.427838                             NaN                                        NaN         NaN  2005.0    data\sealevel_data.csv                  NaN     NaN
59                            NaN   86.161389                             NaN                                        NaN         NaN  2006.0    data\sealevel_data.csv                  NaN     NaN
60                            NaN   85.265946                             NaN                                        NaN         NaN  2007.0    data\sealevel_data.csv                  NaN     NaN
61                            NaN   86.838889                             NaN                                        NaN         NaN  2008.0    data\sealevel_data.csv                  NaN     NaN
62                            NaN   85.634054                             NaN                                        NaN         NaN  2009.0    data\sealevel_data.csv                  NaN     NaN
63                            NaN   87.830811                             NaN                                        NaN         NaN  2010.0    data\sealevel_data.csv                  NaN     NaN
64                            NaN   89.016757                             NaN                                        NaN         NaN  2011.0    data\sealevel_data.csv                  NaN     NaN
65                            NaN   87.514324                             NaN                                        NaN         NaN  2012.0    data\sealevel_data.csv                  NaN     NaN
66                            NaN   87.777297                             NaN                                        NaN         NaN  2013.0    data\sealevel_data.csv                  NaN     NaN
67                            NaN   88.426667                             NaN                                        NaN         NaN  2014.0    data\sealevel_data.csv                  NaN     NaN
68                            NaN  100.599189                             NaN                                        NaN         NaN  2015.0    data\sealevel_data.csv                  NaN     NaN
69                            NaN         NaN                       15.466417                                   0.059167         NaN  1993.0        data\temp_data.csv                  NaN     NaN
70                            NaN         NaN                       15.535000                                   0.058583         NaN  1994.0        data\temp_data.csv                  NaN     NaN
71                            NaN         NaN                       15.637833                                   0.060417         NaN  1995.0        data\temp_data.csv                  NaN     NaN
72                            NaN         NaN                       15.524667                                   0.059500         NaN  1996.0        data\temp_data.csv                  NaN     NaN
73                            NaN         NaN                       15.713833                                   0.059167         NaN  1997.0        data\temp_data.csv                  NaN     NaN
74                            NaN         NaN                       15.826000                                   0.063000         NaN  1998.0        data\temp_data.csv                  NaN     NaN
75                            NaN         NaN                       15.600333                                   0.063333         NaN  1999.0        data\temp_data.csv                  NaN     NaN
76                            NaN         NaN                       15.610667                                   0.063500         NaN  2000.0        data\temp_data.csv                  NaN     NaN
77                            NaN         NaN                       15.767500                                   0.064583         NaN  2001.0        data\temp_data.csv                  NaN     NaN
78                            NaN         NaN                       15.829167                                   0.062917         NaN  2002.0        data\temp_data.csv                  NaN     NaN
79                            NaN         NaN                       15.826583                                   0.064333         NaN  2003.0        data\temp_data.csv                  NaN     NaN
80                            NaN         NaN                       15.757250                                   0.061250         NaN  2004.0        data\temp_data.csv                  NaN     NaN
81                            NaN         NaN                       15.879250                                   0.060833         NaN  2005.0        data\temp_data.csv                  NaN     NaN
82                            NaN         NaN                       15.813500                                   0.061000         NaN  2006.0        data\temp_data.csv                  NaN     NaN
83                            NaN         NaN                       15.827333                                   0.059083         NaN  2007.0        data\temp_data.csv                  NaN     NaN
84                            NaN         NaN                       15.721250                                   0.057250         NaN  2008.0        data\temp_data.csv                  NaN     NaN
85                            NaN         NaN                       15.827167                                   0.058917         NaN  2009.0        data\temp_data.csv                  NaN     NaN
86                            NaN         NaN                       15.895500                                   0.058583         NaN  2010.0        data\temp_data.csv                  NaN     NaN
87                            NaN         NaN                       15.769500                                   0.059000         NaN  2011.0        data\temp_data.csv                  NaN     NaN
88                            NaN         NaN                       15.802333                                   0.061500         NaN  2012.0        data\temp_data.csv                  NaN     NaN
89                            NaN         NaN                       15.854417                                   0.064667         NaN  2013.0        data\temp_data.csv                  NaN     NaN
90                            NaN         NaN                       15.913000                                   0.063167         NaN  2014.0        data\temp_data.csv                  NaN     NaN
91                            NaN         NaN                       16.058583                                   0.060833         NaN  2015.0        data\temp_data.csv                  NaN     NaN

In [ ]:
climate_data .to_csv(r'data\combinedclimatedata.csv', index = False)