# PROPHPET 
## Time Series Prediction for Temperature Population Sea Level and Emissions
### Time Series Prediction Using Prophet 
https://towardsdatascience.com/time-series-prediction-using-prophet-in-python-35d65f626236

In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from fbprophet.plot import plot_plotly
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.offline as py
py.init_notebook_mode()
%matplotlib inline

ModuleNotFoundError: No module named 'fbprophet'

In [33]:
# Reading the data from the csv file
df = pd.read_csv("data/combinedclimatedata_prophet.csv")

In [34]:
#  Understanding the data
df.head(2)

,Unnamed: 0,Year,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,population_millions,GMSL,CO2_concentration_per_million,DS
0,0,1993,15.466417,0.059167,5581597.598,90.471622,357.10,1/1/1993
1,1,1994,15.535000,0.058583,5663150.428,89.516216,358.83,1/1/1994

In [35]:
dataset = df.drop(["Unnamed: 0"], axis = 1)
dataset.head(5)

,Year,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,population_millions,GMSL,CO2_concentration_per_million,DS
0,1993,15.466417,0.059167,5581597.598,90.471622,357.10,1/1/1993
1,1994,15.535000,0.058583,5663150.428,89.516216,358.83,1/1/1994
2,1995,15.637833,0.060417,5744212.930,87.334722,360.82,1/1/1995
3,1996,15.524667,0.059500,5824891.931,85.473243,362.61,1/1/1996
4,1997,15.713833,0.059167,5905045.647,99.442432,363.73,1/1/1997

In [36]:
dataset.head(2)

,Year,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,population_millions,GMSL,CO2_concentration_per_million,DS
0,1993,15.466417,0.059167,5581597.598,90.471622,357.10,1/1/1993
1,1994,15.535000,0.058583,5663150.428,89.516216,358.83,1/1/1994

In [37]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 7 columns):
Year                                         23 non-null int64
LandAndOceanAverageTemperature               23 non-null float64
LandAndOceanAverageTemperatureUncertainty    23 non-null float64
population_millions                          23 non-null float64
GMSL                                         23 non-null float64
CO2_concentration_per_million                23 non-null float64
DS                                           23 non-null object
dtypes: float64(5), int64(1), object(1)
memory usage: 1.4+ KB

In [38]:
dataset.describe(include='O')

              DS
count         23
unique        23
top     1/1/2001
freq           1

In [39]:
# Converting categorical variable to numeric using LabelEncoder
# We convert categorical variable to numeric value - from example. 
from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# dataset.iloc[:,10] = le.fit_transform(dataset.iloc[:,10])
dataset.head(2)

,Year,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,population_millions,GMSL,CO2_concentration_per_million,DS
0,1993,15.466417,0.059167,5581597.598,90.471622,357.10,1/1/1993
1,1994,15.535000,0.058583,5663150.428,89.516216,358.83,1/1/1994

In [40]:
# Creating input features(X) and target variable(y)

X = dataset[['LandAndOceanAverageTemperature','LandAndOceanAverageTemperatureUncertainty','population_millions', 'GMSL', 'CO2_concentration_per_million', 'DS']]
y = dataset.iloc[:,4]

In [41]:
# Creating the data set for Prophet with minimum two columns : ds and y

train_dataset= pd.DataFrame()
train_dataset['ds'] = pd.to_datetime(X['DS'])
train_dataset['y']=y
train_dataset.head(2)

          ds          y
0 1993-01-01  90.471622
1 1994-01-01  89.516216

In [29]:
# Creating and fitting the Prophet model with default values
# We will first explore the default Prophet model. 
# Create the Prophet instance with all default values, fit the dataset.

prophet_basic = Prophet()
prophet_basic.fit(train_dataset)

NameError: name 'Prophet' is not defined