# Temperature Population Sea Level and Emissions
### Notebook to combine .csv datasets into one sqlite database for Project 2

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# File to Load  
temperature_data_to_load = "data/temp_data.csv"
population_data_to_load = "data/population_data.csv"
sealevel_data_to_load = "data/sealevel_data.csv"
co2_data_to_load = "data/CO2_data.csv"

# Read Data  
temperature_data = pd.read_csv(temperature_data_to_load)
population_data = pd.read_csv(population_data_to_load)
sealevel_data = pd.read_csv(sealevel_data_to_load)
co2_data = pd.read_csv(co2_data_to_load)

In [2]:
#Temp Data Molly C.
temperature_data.head(5)

   Year  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty
0  1993                       15.466417                                   0.059167
1  1994                       15.535000                                   0.058583
2  1995                       15.637833                                   0.060417
3  1996                       15.524667                                   0.059500
4  1997                       15.713833                                   0.059167

In [3]:
#Population Data John B. 
population_data.head(5)

   Unnamed: 0  Year  population_millions
0           0  1993          5581597.598
1           1  1994          5663150.428
2           2  1995          5744212.930
3           3  1996          5824891.931
4           4  1997          5905045.647

In [ ]:
#Sealevel Data Melissa W. 
sealevel_data.head(5)

In [ ]:
#C02 Data - Kat A. 
co2_data.head(5)

In [ ]:
# Use Glob to concat
import matplotlib.pyplot as plt
from glob import glob

In [ ]:
# Combine Files 
climate_files = sorted(glob('data/*_data.csv'))

In [ ]:
# Review Data 
climate_files

In [ ]:
# Concat Data in Files 
climate_data = pd.concat((pd.read_csv(file).assign(filename = file)
          for file in climate_files), sort= True,  axis=1) 

climate_data

In [ ]:
#Selecting the columns we want 
climate_combined = climate_data[['Year', 
                            'CO2_emissions_tons_per_capita',
                            'population_millions', 
                            'GMSL', 
                            'LandAndOceanAverageTemperature',
                            'LandAndOceanAverageTemperatureUncertainty']]
climate_combined

In [ ]:
#Re-Check the columns 
climate_combined.columns

In [ ]:
new_climate_data = climate_combined.drop_duplicates(subset ="Year", keep = False, inplace = True)

In [ ]:
# displaying data 
new_climate_data

In [ ]:
climate_combined.drop(climate_combined.columns[[2,3]], axis = 1)

In [ ]:
climate_climate_data = climate_combined

climate_climate_data.rename(columns={'Year':'year',  
                              'Avg Temp':'LandAndOceanAverageTemperature',
                             'Emissions':'CO2_emissions_tons_per_capita',
                             'GMSL':'Avg GMSL',
                             'Avg Population in mil':'population_millions'} )
climate_data

In [ ]:
#Save it all into one file
climate_combined.to_csv('data\combinedclimatedata.csv')